
* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


@import './utils/variables';
@import './utils/mixins';
@import './pages/admin-page/admin-page';
@import './pages/auth-page/auth-page';
